@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #1f242d;
    --sec-bg-color: #323946;
    --txt-color: #fff;
    --main-color: #0ef;
    --selection: rgba(0, 238, 255, 0.879);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: var(--selection);
    color: var(--sec-bg-color);
    text-shadow: 4px 4px 10px var(--txt-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
}

h1 {
    font-size: 6.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

section#base {
    background-color: var(--sec-bg-color);
}

section.discussion {
    background-color: var(--bg-color);
}

section.system-review {
    background-color: var(--sec-bg-color);
}

figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    margin: 30px;
    width: 50%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

section#base figure img {
    border: 4px solid var(--txt-color);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.456);
}

section.discussion figure img {
    border: 4px solid var(--txt-color);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(222, 220, 220, 0.231);
    margin-left: auto;
}

figcaption {
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 1.8;
}

section#base figcaption{
    text-align: justify;
    margin: 30px 22px;
}

section.discussion figcaption {
    max-width: 40%;
    text-align: justify;
    margin: 0 0 0 40px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
}

section#base figcaption h2 {
    margin: 20px 0;
}

section.discussion figcaption h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

section.system-review h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-txt p {
    font-size: 1.6rem;
}

.footer-iconTap a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

#arr-up {
    font-size: 3.5rem;
    color: var(--txt-color);
    transition: .4s;
}

#arr-up:hover {
    background-color: var(--txt-color);
    border-radius: 4px;
    font-size: 4rem;
    color: var(--sec-bg-color);
}

#arr-up:active {
    scale: .85;
}